.main{
    background-color: rgb(41, 42, 125);
}
.link-items{
    display: flex;
    justify-content: end;
}
.nav-items{
    margin-left: 20px;
    margin-top: 20px;
    color: aliceblue;
    margin-bottom: 10px;
}